body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em 0;
}

main {
    padding: 2em 0;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product {
    width: 30%;
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product img {
    width: 100%;
    height: auto;
}

.basket {
    flex-basis: 100%;
}

#basket-list {
    list-style: none;
    padding: 0;
}

#basket-list li {
    margin-bottom: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
